@font-face {
  font-family: bold;
  src: url(../css/fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: reg;
  src: url(../css/fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family:Amiri ;
  src: url(../css/fonts/Amiri-Regular.ttf);
}
